<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrologer Siddhi Anjaneya - +91-8147558022</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- owl carousel script begins -->
    
    <!-- owl carousel script end -->
    <!-- owl carousel link begins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.transitions.css">
    <!-- owl carousel link end -->
    <link rel="shortcut icon" href="favicon.ico" type="/assets/image/x-icon">
    <link rel="icon" href="favicon.ico" type="/assets/image/x-icon">
    <!-- custom stylesheet link begins -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- custom stylesheet ends -->
</head>
<body>

    <!-- header section begins -->
    <section class="hdr-sec">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-xl-12 hd-1">
                    <marquee>
                        &#2360;&#2350;&#2360;&#2381;&#2351;&#2366; &#2325;&#2376;&#2360;&#2368; &#2349;&#2368; &#2361;&#2379; &#2328;&#2348;&#2352;&#2366;&#2351;&#2375; &#2344;&#2361;&#2368;&#2306; &#2340;&#2369;&#2352;&#2306;&#2340; &#2361;&#2350;&#2360;&#2375; &#2360;&#2306;&#2346;&#2352;&#2381;&#2325; &#2325;&#2352;&#2375; &#2324;&#2352; &#2360;&#2350;&#2366;&#2343;&#2366;&#2344; &#2346;&#2366;&#2319; &#33;&#33; &#2352;&#2370;&#2336;&#2375; &#2346;&#2381;&#2352;&#2375;&#2350;&#2368; &#2346;&#2381;&#2352;&#2375;&#2350;&#2367;&#2325;&#2366; &#2325;&#2379; &#2350;&#2344;&#2366;&#2344;&#2366;&#44; &#2346;&#2340;&#2367; &#2346;&#2340;&#2381;&#2344;&#2368; &#2350;&#2375;&#2306; &#2309;&#2344;&#2348;&#2344;&#44; &#2350;&#2344;&#2330;&#2366;&#2361;&#2366; &#2326;&#2379;&#2351;&#2366; &#2346;&#2381;&#2351;&#2366;&#2352; &#2346;&#2366;&#2319;&#44; &#2346;&#2366;&#2352;&#2367;&#2357;&#2366;&#2352;&#2367;&#2325; &#2360;&#2350;&#2360;&#2381;&#2351;&#2366;&#44; &#2350;&#2366;&#2340;&#2366; &#2346;&#2367;&#2340;&#2366; &#2325;&#2379; &#2358;&#2366;&#2342;&#2368; &#2325;&#2375; &#2354;&#2367;&#2319; &#2352;&#2366;&#2395;&#2368; &#2325;&#2352;&#2344;&#2366;&#44; &#2360;&#2380;&#2340;&#2344; &#2360;&#2375; &#2331;&#2369;&#2335;&#2325;&#2366;&#2352;&#2366; &#2310;&#2342;&#2367; &#33;&#33; &#2360;&#2349;&#2368; &#2360;&#2350;&#2360;&#2381;&#2351;&#2366;&#2323; &#2325;&#2366; &#2361;&#2354; &#2360;&#2367;&#2352;&#2381;&#2347; &#2319;&#2325; &#2398;&#2379;&#2344; &#2325;&#2377;&#2354;:- +91-8147558022
                    </marquee>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-5 col-xl-5 log-cl1">
                    <div class="col-xs-12 col-sm-12 col-xl-12 log-inr">
                        <a href="/"><img src="/assets/images/logo.png" alt="Astrologer Siddhi Anjaneya Ji" title="Astrologer Siddhi Anjaneya Ji"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-7 col-xl-7 log-cl1 log-cl2">
                    <div class="col-xs-12 col-sm-12 col-xl-12 log-inr">
                        <img src="/assets/images/head-side.png" alt="Contact Us" title="Contact Us">
                        <!--<p>let your life move on the right track <span><a href="tel:+91-8147558022">Contact Us</a></span></p>-->
                        <!--<ul>-->
                        <!--    <li><a href="tel:+91-8147558022"><i class="fa fa-phone-alt"></i>+91-8147558022</a></li>-->
                        <!--    <li><a href="https://wa.me/919646026705/?text=Hello "><i class="fab fa-whatsapp"></i>+91-8147558022</a></li>-->
                        <!--</ul>-->


                    </div>
                </div>
                <!--<div class="col-xs-12 col-sm-12 col-xl-12 log-cl1 log-cl3">-->
                <!--    <div class="col-xs-12 col-sm-12 col-xl-12 log-inr">-->
                <!--        <ul>-->
                <!--            <li>Love Solution</li>-->
                <!--            <li>Job Solution</li>-->
                <!--            <li>Marriage Solution</li>-->
                <!--            <li>Business Solution</li>-->
                <!--        </ul>-->
                <!--    </div>-->
                <!--</div>-->
            </div>
        </div>
    </section>
    <!-- header section end -->
    @RenderBody()
    <!-- footer section begins -->
    <section class="ftr-sec">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-xl-12 dsclmr">
                        <p>Disclaimer: There are no guarantees that every person using this service will get their desired results for sure Astrological results depend on a lot of factors and the results may vary from person to person.</p>
                        <span>Copyright &copy; All Rights Reserved 2021-2022</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer section ends -->
    <!-- mobile section begins -->

    <div id="callbook" class="mobile-call">
        <ul>
            <li style="background:#efc225;">
                <a id="cb_call" class="actioncall" href="tel:+91-8147558022" style="color:#000;">
                    <i class="fa fa-phone-alt"></i>
                    Click To Call
                </a>
            </li>

            <li style="background:#2dac03;">
                <a id="cb_mail" class="icon" href="https://wa.me/918147558022/?text=Hello" target="_top" data-attr="whatsapp_contact" data-toggle="tooltip" title="Whatsapp">
                    <i class="fab fa-whatsapp"></i>
                    Chat With Us
                </a>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <!-- mobile section Ends -->
    <!-- testimonial script begins -->
    <script type="text/javascript">
        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: false,
                navigation: true,
                navigationText: ["", ""],
                transitionStyle: "goDown",
                autoPlay: false
            });
        });
    </script>
    <!-- testimonial script end -->



    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnFooterSubmit').click(function () {
                $('#footerMsgRequired').css('display', 'none');
                $('#footerMsgInvalidMobile').css('display', 'none');
                $('#footerMsgInvalidEmail').css('display', 'none');
                $('#footerMsgSuccess').css('display', 'none');
                $('#footerMsgError').css('display', 'none');

                var emailpattern = /^\b[A-Z0-9._%-]+@@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
                var mobilepattern = /[0-9]{10}/;

                if ($('#Name').val().length == 0 || $('#Mobile').val().length == 0) {
                    $('#footerMsgRequired').removeAttr('style');
                    return;
                }
                else {
                    $('#footerMsgRequired').css('display', 'none');
                }

                if ($('#Mobile').val().length == 0 || !mobilepattern.test($('#Mobile').val())) {
                    $('#footerMsgInvalidMobile').removeAttr('style');
                    return;
                }
                else {
                    $('#footerMsgInvalidMobile').css('display', 'none');
                }
                if ($('#Email').val().length == 0 || !emailpattern.test($('#Email').val())) {
                    $('#footerMsgInvalidEmail').removeAttr('style');
                    return;
                }
                else {
                    $('#footerMsgInvalidEmail').css('display', 'none');
                }

                $('#btnFooterSubmit').addClass('invisible');
                submitFooterForm();
            });
        });

        function submitFooterForm() {
            $.ajax({
                url: '/index',
                type: 'POST',
                data: jQuery('#footerContactForm').serialize(),
                success: function (result) {
                    if (result == 'success') {
                        $('#footerMsgSuccess').removeAttr('style');
                        $('#btnFooterSubmit').removeClass('invisible');
                        $('#Name').val('');
                        $('#Email').val('');
                        $('#City').val('');
                        $('#Mobile').val('');
                        $('#Message').val('');
                    }
                    else {
                        $('#footerMsgSuccess').css('display', 'none');
                        $('#footerMsgError').removeAttr('style');
                        $('#btnFooterSubmit').removeClass('invisible');
                    }
                },
                error: function (xhr, status) {
                    $('#footerMsgError').removeAttr('style');
                    $('#btnFooterSubmit').removeClass('invisible');
                }
            });
        }
    </script>

</body>
</html>