
@{
    ViewBag.Title = "Home Page";
}


<!-- banner section begins -->
<section class="ban1-sec">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 bn-cl" style="padding:0px;">
                <img src="/assets/images/love-life.jpg" alt="Get Back Happiness In Your Love Life" title="Get Back Happiness In Your Love Life" width="100%">
            </div>
        </div>
    </div>
</section>
<!-- banner section end -->
<!-- best services section begins  -->
<section class="srv1-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 srv1-hd">
                <p>Our Best Services</p>
                <span>You Can Expect The best astrology services</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv1.jpg" alt="Lost Love Back" title="Lost Love Back">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Lost Love back</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv2.jpg" alt="Ex Love Back" title="Ex Love Back">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Ex Love back</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv3.jpg" alt="Childless Couple" title="Childless Couple">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Childless Couple</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best services section end  -->
<!-- about us section begins -->
<section class="abt-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 abt-hd">
                <p>About Astrologer</p>
                <span>Siddhi Anjaneya</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-5 col-xl-5 abt-cl1">
                <div class="col-xs-12 col-sm-12 col-xl-12 abt-inr">
                    <p class="chs-pt">Why Us?</p>
                    <span class="spn1">Astrology Prediction Is A God Gift Passed Down To Generations</span>
                    <ul>
                        <li><span><i class="fas fa-smile"></i></span> Happy Clients </li>
                        <li><span><i class="fas fa-clock"></i></span> time saving </li>
                        <li><span><i class="fas fa-medal"></i></span> awards </li>
                        <li><span><i class="fas fa-hand-holding-heart"></i></span> love solutions </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-7 col-xl-7 abt-cl1 abt-cl2">
                <div class="col-xs-12 col-sm-12 col-xl-12 abt-inr">
                    <p><strong>Astrologer Siddhi Anjaneya</strong> is a person who has got fame in the field of astrology just because of his knowledge. He is in this field since from long time. In his childhood he suddenly got interest in astrology which makes him to learn more about this. It is actually good for every person now to get to him for the consultation. He learns astrology from his parents and his master. This let him to know about deeply about this science. His interest in this field always gets increase and this is the reason he has indulged in various researches. Those actually become beneficial for others in the researches. </p>
                    <p><strong>Astrologer Siddhi Anjaneya</strong> gives the predictions as well as the solution which is actually worth for a person. Every problem of a person does have a solution. He wants every person to do use it when no solution left for them.</p>

                    <p>And there are many things in which are much famous and use this to remove troubles of a person. Thus he has free solution to every problem of a person. Getting to <strong>Astrologer Siddhi Anjaneya</strong> is always helpful for everyone. </p>


                </div>
            </div>
        </div>
    </div>
</section>
<!-- about us section end -->
<!-- best solutions section begins -->
<section class="srv2-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 srv-hd">
                <p>Our Best Solutions</p>
                <span>Here Are Some Of Our Best Solutions</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv2-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv4.jpg" alt="Divorce Problem Solutions" title="Divorce Problem Solutions">

                        <div class="col-xs-12 call-i">
                            <a href="tel:+91-8147558022"><i class="fa fa-phone-alt"></i></a>
                        </div>
                    </div>
                    <p class="srv-nm">Divorce Problem Solutions</p>
                    <div class="col-xs-12 col-sm-12 col-xl-12 dcrp">
                        <p>Astrology based Divorce Problem Solutions could help a person to make their relationship better again by removing troubles among couple and bring the feel of love among those once again.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv2-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv5.jpg" alt="Study Problem Solutions" title="Study Problem Solutions">

                        <div class="col-xs-12 call-i">
                            <a href="tel:+91-8147558022"><i class="fa fa-phone-alt"></i></a>
                        </div>
                    </div>
                    <p class="srv-nm">Study Problem Solutions</p>
                    <div class="col-xs-12 col-sm-12 col-xl-12 dcrp">
                        <p>When studies are not going better, then good to take help of astrology related Study Problem Solutions those are actually worth for every student needs to become brilliant in studies.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv2-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv6.jpg" alt="Career Problem Solutions" title="Career Problem Solutions">

                        <div class="col-xs-12 call-i">
                            <a href="tel:+91-8147558022"><i class="fa fa-phone-alt"></i></a>
                        </div>
                    </div>
                    <p class="srv-nm">Career Problem Solutions</p>
                    <div class="col-xs-12 col-sm-12 col-xl-12 dcrp">
                        <p>A person can now take help of astrology for Career Problem Solutions which is best to get good job opportunities and even get growth further in your career and job soon.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- best solutions section end -->
<!-- testimonial section begins -->
<section class="test-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 test-hd">
                <p>Our Testimonials</p>
                <span>Have A Look, What Our Clients Say!</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-xl-12 test-cl">
                <!-- testimonial slider begins -->
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <p class="description">
                            I am thankful to Astrologer Siddhi Anjaneya who helped me when I was in complete darkness because he has solved my love problems and make me marry to lover.
                        </p>
                        <div class="pic">
                            <img src="/assets/images/cl-1.jpg" alt="Client 1">
                        </div>
                        <h3 class="testimonial-title">
                            <span>Adil Khera</span>
                            <small>UK</small>
                        </h3>
                    </div>
                    <div class="testimonial">
                        <p class="description">
                            I have consulted Astrologer Siddhi Anjaneya ji when I was going through some medical conditions which were not getting improved and his solutions helped me to recover from that.
                        </p>
                        <div class="pic">
                            <img src="/assets/images/cl-2.jpg" alt="Client 2">
                        </div>
                        <h3 class="testimonial-title">
                            <span>Minal Kamboj</span>
                            <small>Canada</small>
                        </h3>
                    </div>

                    <div class="testimonial">
                        <p class="description">
                            I want to take admission in a good college and tried a lot but my exam does not get cleared until I didn't perform remedies by Astrologer Siddhi Anjaneya ji.
                        </p>
                        <div class="pic">
                            <img src="/assets/images/cl-3.jpg" alt="Client 3">
                        </div>
                        <h3 class="testimonial-title">
                            <span>Nandani Arora</span>
                            <small>Australia</small>
                        </h3>
                    </div>
                </div>
                <!-- testimonial slider End -->

            </div>
        </div>
    </div>
</section>
<!-- testimonial section end -->
<!-- other services section begins -->
<section class="srv1-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 srv1-hd">
                <p>Other Services</p>
                <span>Solutions With Pure Astrology Remedies</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv7.jpg" alt="Job Problem" title="Job Problem">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Job Problem</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv8.jpg" alt="Marriage Problem" title="Marriage Problem">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Marriage Problem</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv9.jpg" alt="Business Problem" title="Business Problem">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Business Problem</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv10.jpg" alt="Family Problem" title="Family Problem">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Family Problem</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv11.jpg" alt="Kundli Matching" title="Kundli Matching">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Kundli Matching</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-4 col-xl-4 srv-mn">
                <div class="col-xs-12 col-sm-12 col-xl-12 srv-inr">
                    <div class="col-xs-12 col-sm-12 col-xl-12 srv-im">
                        <img src="/assets/images/srv12.jpg" alt="Love Problem" title="Love Problem">
                    </div>
                    <span><a href="tel:+91-8147558022">Contact Us</a></span>
                    <p>Love Problem</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- other services section end -->
<!-- contact us section begins -->
<section class="cnt-sec">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-xl-12 cnt-hd">
                <p>Get In Touch</p>
                <span>We'll Be Glad To Answer your queries!</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-xl-12 frm-mn">
                <div class="col-xs-12 col-sm-12 col-12 frm-inr">
                    <p>Drop us A Message!</p>

                    <form action="#" method="post" id="footerContactForm">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-lg-3 col-xl-3 inpt">
                                <label for="name">name</label>
                                <input type="text" name="Name" id="Name" placeholder="Enter Name*">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 col-xl-3 inpt">
                                <label for="phone">phone</label>
                                <input type="text" id="Mobile" name="Mobile" maxlength="10" placeholder="Enter 10 digit Mobile number*">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 col-xl-3 inpt">
                                <label for="email">email</label>
                                <input type="text" name="Email" id="Email" placeholder="Enter Email*">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-3 col-xl-3 inpt">
                                <label for="city">city</label>
                                <input type="text" name="City" id="City" placeholder="Enter City">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-7 col-xl-7 inpt">
                                <label for="message">message</label>
                                <textarea name="Message" rows="4" id="Message" placeholder="Message"></textarea>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-lg-5 col-xl-5 inpt styl-btn">
                                <button type="button" id="btnFooterSubmit"><i class="fas fa-paper-plane"></i> Send Message</button>
                            </div>
                        </div>
                        <div id="footerMsgRequired" class="alert alert-danger" style="display: none">Fields marked * are mandatory</div>
                        <div id="footerMsgInvalidMobile" class="alert alert-danger" style="display: none">Invalid Mobile No.</div>
                        <div id="footerMsgInvalidEmail" class="alert alert-danger" style="display: none">Invalid Email Address</div>
                        <div id="footerMsgSuccess" class="alert alert-success" style="display: none">Thank you! We have received your enquiry. We will revert within 24 hours.</div>
                        <div id="footerMsgError" class="alert alert-danger" style="display: none">An error occured while submitting form. Pls try again.</div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact us section end -->
